APP_HOST=0.0.0.0
APP_PORT=8000
DOWNLOAD_DIR=downloads
FRONTEND_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
EXTENSION_ORIGIN_REGEX=^(chrome-extension|moz-extension)://.*$
MAX_DOWNLOAD_WORKERS=2
